<!-- <aside class="sidebar">
    <nav class="nav">
        <ul>
            <li class="active"><a href="#">Welcome</a></li>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">What We Do</a></li>
            <li><a href="#">Get In Touch</a></li>
        </ul>
    </nav>
</aside> -->

<nav id="navbar">
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li class="active"><a href="#">Welcome</a></li>
                <li><a href="#">Who We Are</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Get In Touch</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- <nav>
    <div class="wrapper"> 
        <div class="sidebar">
            <p><span class="sidebar-title-left">Valuation</span> <span class="sidebar-title-right">Exercises</span></p>
            <ul>
                <li>
                    <a href="/about/"> <i class="fas fa-at"></i> About</a>
                </li>
                <li>
                    <a href="/exercises/1/"> <i class="fas fa-book-open"></i> Exercises</a>
                </li>
                <li>
                    <a href="/"> <i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="/login/"> <i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
            </ul>

            <p class="sidebar-copyright" id="sidebar-copyright">&copy;</p>
        </div>
    </div>
</nav> -->

<!-- <script src="https://kit.fontawesome.com/2d7b0bfebf.js" crossorigin="anonymous"></script> -->

<!-- <script>
    document.getElementById('sidebar-copyright').innerText += ` ${new Date().getFullYear()} Dr4kk0nnys Inc.`;
</script> -->
