<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Investing Exercises</title>
        <%- include('style/navbar.ejs') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('navbar.ejs') %>
            <div class="main_content">
                <div class="header">
                    <h1>Welcome!</h1>
                </div>
                <div class="info"></div>
            </div>
        </div>
    </body>
</html>